.InputContainer{
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
}

.Label{
    display: inline-block;
    margin-bottom: .5rem;
    white-space: nowrap;
}


.InputSection {
    border: 2px solid #EEEEEE;
    padding: 0.5em;
    color:black;
    box-shadow: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 4px;
}

/* .InputSection::placeholder {
    font-family: var(--font-light);
} */

.InputSection:focus {
    border: 2px solid #08B6CE;
    border-radius: 4px;
}

/* .InputBoxShadow{
    box-shadow: 0 0 4px 0 grey;
} */

.InputWidth{
    width: 100%;
}

.InputTextMuted {
    color: #6c757d!important;
}

.FormSmallText {
    display: block;
    margin-top: .25rem;
}

/* Chrome, Safari, Edge, Opera */
.InputStep::-webkit-outer-spin-button,
.InputStep::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.InputStep{
  -moz-appearance: textfield;
}

/* .GlowOnFocus:focus{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */

/* .GlowOnFocus:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */