
.header{
    /* border-bottom: 1px solid var(--color-border); */
    padding: 0.5rem;
}

.header > *{
    padding: 0;
    margin: 0;
}

.body{
    text-align: left;
}

.body > *{
    padding: 0;
    margin: 0;
}

.footer{
    padding: 0.5rem;
    border-top: 1px solid #7FDBFF;
}

.footer > *{
    padding: 0;
    margin: 0;
}